VITE_FIREBASE_API_KEY=AIzaSyD5u0vt99_cjjUB21cBMKQVFU1WXWYegsg
VITE_FIREBASE_AUTH_DOMAIN=campusconnect-afd1e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=campusconnect-afd1e
VITE_FIREBASE_STORAGE_BUCKET=campusconnect-afd1e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=228582852256
VITE_FIREBASE_APP_ID=1:228582852256:web:b5a74c4258a2ff6ca6ebc5
